 /* Forzar a que siempre se muestre el botón de hamburguesa */
.navbar-toggler,.navbar-toggler-icon {
   display: block!important;
}

.card-img{
   max-width: 100px;
}

.card{
   @media screen and (min-width:900px) {
      width: 500px;

   }
}
   .activeCardsContainer{
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      flex-direction: column;

      @media screen and (min-width:900px) {
         flex-direction: row;

   }

}


.updateTarea{
   background-color: red!important;
}
h4{
   background-color: black;
}